:root {
  font-family: "Space Mono", monospace;
  padding: 10px;
  margin: 10px;
  align-items: center;
}

nav {
  background-color: darkturquoise;
  padding: 10px;
}

nav a {
  text-decoration: none;
  font-size: 15px;
}

nav a:hover {
  font-weight: bold;
}

nav li {
  display: inline;
  list-style-type: none;
  margin-right: 30px;
}

.hero {
  padding: 20px;
  background-color: cyan;
  text-align: center;
}

.hero h1 {
  font-size: 60px;
  color: blueviolet;
}

.hero p {
  font-size: 20px;
  color: darkcyan;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  padding: 20px;
  margin: 20px;
}

.featured-image {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  object-position: center;
}

.profile header {
  text-align: center;
}

.profile img {
  width: 100%;
  max-width: 300px;
}

footer {
  padding: 20px;
  color: white;
  background-color: blue;
  text-align: center;
  font-weight: bold;
}
